<%- include('header', {pagetitle: 'Hozzáadás'}) -%>
<%- include('navbar', {active: 'none'}) -%>
<div class="container">
    <div class="row">
        <div class="col-12">
            <h1>Új felhasználó regisztrálása</h1>
<<<<<<< Updated upstream
        </div>
    </div>
</div>
<br>
<br>

<div class="container">
    <div class="row">
        <div class="col-6">
            <h2>Név:</h2>
        </div>
        <div class="col-6">
            <form>
                <div class="form-group">
                    <input type="text" class="form-control" id="exampleInputName" placeholder="Pl.: Minta Mariann">
                </div>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <h2>Becenév:</h2>
        </div>
        <div class="col-6">
            <form>
                <div class="form-group">
                    <input type="text" class="form-control" id="exampleInputColor" placeholder="Pl.: Mari">
                </div>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <h2>Szobaszám:</h2>
        </div>
        <div class="col-6">
            <form>
                <div class="form-group">
                    <input type="text" class="form-control" id="exampleInputRoomNum" placeholder="Pl.: 1016">
                </div>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <h2>Asztal:</h2>
        </div>
        <div class="col-6">
            <form>
                <div class="form-group">
                    <select class="form-control form-control-sm">
                        <option>Jobb</option>
                        <option>Bal</option>
                    </select>
                    <select class="form-control form-control-sm">
                        <option>Első</option>
                        <option>Hátsó</option>
                    </select>
                </div>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <h2>Admin:</h2>
        </div>
        <div class="col-6">
            <form>
                <div class="form-group">
                    <select class="form-control form-control-sm">
                        <option>Igen</option>
                        <option>Nem</option>
                    </select>
                </div>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <h2>Jelszó:</h2>
        </div>
        <div class="col-6">
            <form>
                <div class="form-group">
                    <input type="text" class="form-control" id="exampleInputColor" placeholder="Pl.: 123">
=======

            <br>
            <br>

            <form method="POST">
                <div class="form-group">
                    <label for="name">Név:</label>
                    <input type="text" class="form-control" id="name" name="name" value="Pl.: Minta Mariann">
                </div>
                <div class="form-group">
                    <label for="nick">Becenév:</label>
                    <input type="text" class="form-control" id="nick" name="nick" value="Pl.: Mari">
                </div>
                <div class="form-group">
                    <label for="room">Szobaszám:</label>
                    <input type="text" class="form-control" id="room" name="room" value="Pl.: 1016">
                </div>
                <div class="form-group">
                    <label for="table">Asztal:</label>
                    <input type="text" class="form-control" id="table" name="table" value="Pl.: Jobb, hátsó">
                </div>

                <br>
                <br>

                <div class="container">
                    <div class="row">
                        <div class="col-6">
                            <input type="submit" class="btn btn-block btn-primary" value="Mentés"/>
                        </div>
                        <div class="col-6">
                            <a href="/user/list" class="btn btn-block btn-danger">Mégse</a>
                        </div>
                    </div>
>>>>>>> Stashed changes
                </div>
            </form>
        </div>
    </div>
</div>

<<<<<<< Updated upstream
<br>
<br>

<div class="container">
    <div class="row">
        <div class="col-6">
            <a href="/user/list" class="btn btn-block btn-primary"><i class="fa-solid fa-check"></i></a>
        </div>
        <div class="col-6">
            <a href="/user/list" class="btn btn-block btn-danger"><i class="fa-solid fa-trash"></i></a>
        </div>
    </div>
</div>
=======
>>>>>>> Stashed changes
<%- include('footer') -%>