<%- include('header', {pagetitle: 'Hozzáadás'}) -%>
<%- include('navbar', {active: 'none'}) -%>
<<<<<<< Updated upstream

<div class="container">
    <div class="row">
        <div class="col-12">
            <h1>Új esernyő regisztrálása</h1>
        </div>
    </div>
</div>
<br>
<br>

<div class="container">
    <div class="row">
        <div class="col-6">
            <h2>Név:</h2>
        </div>
        <div class="col-6">
            <form>
                <div class="form-group">
                    <input type="text" class="form-control" id="exampleInputName" placeholder="Pl.: Villámhárító">
                </div>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <h2>Szín:</h2>
        </div>
        <div class="col-6">
            <form>
                <div class="form-group">
                    <input type="text" class="form-control" id="exampleInputColor" placeholder="Pl.: Hupikék">
                </div>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <h2>Tulajdonos:</h2>
        </div>
        <div class="col-6">
            <form>
                <div class="form-group">
                    <input type="text" class="form-control" id="exampleInputOwner" placeholder="Pl.: Anita">
                </div>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <h2>Szobaszám:</h2>
        </div>
        <div class="col-6">
            <form>
                <div class="form-group">
                    <input type="text" class="form-control" id="exampleInputRoomNum" placeholder="Pl.: 1016">
                </div>
            </form>
        </div>
    </div>
</div>

<br>
<br>

<div class="container">
    <div class="row">
        <div class="col-6">
            <a href="/user/:userid" class="btn btn-block btn-primary"><i class="fa-solid fa-check"></i></a>
        </div>
        <div class="col-6">
            <a href="/user/:userid" class="btn btn-block btn-danger"><i class="fa-solid fa-trash"></i></a>
        </div>
    </div>
</div>


=======
<br>
<br>
>>>>>>> Stashed changes
<div class="container">
    <div class="row">
        <div class="col-12">
            <h1>Új esernyő regisztrálása</h1>
<<<<<<< Updated upstream
        </div>
    </div>
</div>
<br>
<br>

<div class="container">
    <div class="row">
        <div class="col-6">
            <h2>Név:</h2>
        </div>
        <div class="col-6">
            <form>
                <div class="form-group">
                    <input type="text" class="form-control" id="exampleInputName" placeholder="Pl.: Villámhárító">
                </div>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <h2>Szín:</h2>
        </div>
        <div class="col-6">
            <form>
                <div class="form-group">
                    <input type="text" class="form-control" id="exampleInputColor" placeholder="Pl.: Hupikék">
                </div>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <h2>Tulajdonos:</h2>
        </div>
        <div class="col-6">
            <form>
                <div class="form-group">
                    <input type="text" class="form-control" id="exampleInputOwner" placeholder="Pl.: Anita">
                </div>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <h2>Szobaszám:</h2>
        </div>
        <div class="col-6">
            <form>
                <div class="form-group">
                    <input type="text" class="form-control" id="exampleInputRoomNum" placeholder="Pl.: 1016">
                </div>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <h2>Asztal:</h2>
        </div>
        <div class="col-6">
            <form>
                <div class="form-group">
                    <input type="text" class="form-control" id="exampleInputTable" placeholder="Pl.: Bal, hátsó">
                </div>
            </form>
        </div>
    </div>
</div>

<br>
<br>

<div class="container">
    <div class="row">
        <div class="col-6">
            <a href="/" class="btn btn-block btn-primary"><i class="fa-solid fa-check"></i></a>
        </div>
        <div class="col-6">
            <a href="/" class="btn btn-block btn-danger"><i class="fa-solid fa-trash"></i></a>
=======

            <br>
            <br>

            <form method="POST">
                <div class="form-group">
                    <label for="name">Név:</label>
                    <input type="text" class="form-control" id="name" name="name" value="Pl.: Kisvirág">
                </div>
                <div class="form-group">
                    <label for="color">Szín:</label>
                    <input type="text" class="form-control" id="color" name="color" value="Pl.: Lila">
                </div>

                <br>
                <br>

                <div class="container">
                    <div class="row">
                        <div class="col-6">
                            <input type="submit" class="btn btn-block btn-primary" value="Mentés"/>
                        </div>
                        <div class="col-6">
                            <a href="/user/list" class="btn btn-block btn-danger">Mégse</a>
                        </div>
                    </div>
                </div>
            </form>
>>>>>>> Stashed changes
        </div>
    </div>
</div>

<%- include('footer') -%>