<%- include('header', {pagetitle: 'Módosítás'}) -%>
<%- include('navbar', {active: 'none'}) -%>
    <title></title>

    <!--    Ez egyelőre csak egy ötlet, még nem biztos, hogy meg is lesz valósítva, de a lehetőség még adott.-->

<%- include('footer') -%>